/*external css doyası*/
/* body {
  background-color: bisque;
}
h2 {
  color: hwb(130 11% 55%);
  font-size: 48px;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif ;
} */
/* ctrl+ö imleç hangi satırdaysa onu açıklama satırı yapar */
/* class -> .text-red {} */
/* id -> #id-bilgisi {} */

/* .text-red {
  color: red;
}

.fs-small{
font-size: 10px;
}
.fs-medium {
  font-size: 20px;
}
.fs-30 {
  font-size: 30px;
}
#first-article {
  font-size: 20px;
} */

.left-bar{
  width: 300px;
}





.box{
  width: 300px;
  height: 300px;
  padding: 10px;
  margin-left: 10px;
  float: left;
}
.bg-red{
  background-color: red;
}
.bg-green {
  background-color: green;
}